{{ define "home/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VikingX.</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
        />
        <script src="https://unpkg.com/htmx.org@1.9.5"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>
        <style>
            body {
                font-family: "Arial";
            }
        </style>
    </head>
    <body>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <nav class="navbar navbar-expand-lg bg-secondary mb-2">
            <div class="container">
                <a class="navbar-brand text-white" href="/">VikingX</a>
            </div>
        </nav>
        <div class="container-fluid m-3">
            <div class="row">
                <ul
                    id="instruments"
                    hx-get="/instruments"
                    hx-trigger="load, every 2s"
                    class="list-group list-group-horizontal"
                />
            </div>
            <div class="row">
                <div class="col">
                    <div class="row mb-2">
                        <form
                            hx-post="/market-order"
                            hx-target="#positions"
                            hx-indicator="#positions-indicator"
                            class="align-items-center flex text-center"
                        >
                            <img id="positions-indicator" class="htmx-indicator" src="/assets/spinning-circles.svg" />
                            <div class="row mb-2 g-3 align-items-center">
                                <div class="col-auto mx-auto">
                                    <label
                                        for="trade-ticker"
                                        class="col-form-label"
                                        >Symbol</label
                                    >
                                </div>
                                <div class="col-auto mx-auto">
                                    <input
                                        type="text"
                                        id="trade-ticker"
                                        class="form-control"
                                        name="ticker"
                                    />
                                </div>
                                <div class="col-auto mx-auto">
                                    <span class="form-text">
                                        Ticker as seen above.
                                    </span>
                                </div>
                                <div class="col-auto mx-auto">
                                    <label
                                        for="trade-side"
                                        class="col-form-label"
                                        >Side</label
                                    >
                                </div>
                                <div class="col-auto mx-auto">
                                    <select
                                        class="form-select"
                                        name="side"
                                        id="trade-side"
                                    >
                                        <option value="buy" selected>
                                            buy
                                        </option>
                                        <option value="sell">sell</option>
                                    </select>
                                </div>

                                <div class="col-auto mx-auto">
                                    <label
                                        for="trade-size"
                                        class="col-form-label"
                                        >Size</label
                                    >
                                </div>
                                <div class="col-auto mx-auto">
                                    <input
                                        type="number"
                                        id="trade-size"
                                        class="form-control"
                                        name="size"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="col-auto mr-2 btn btn-primary"
                                >
                                    Place trade
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <ul
                            id="positions"
                            hx-get="/positions"
                            hx-trigger="load, every 1s"
                            class="list-group list-group-horizontal"
                        />
                    </div>
                    <div class="container-fluid w-100 h-100" id="chart" />
                </div>
            </div>
			<form id="symbol-form">
				<input type="text" id="symbol"></input>
				<button type="submit">Switch symbol</button>
			</form>
        </div>
        <script type="text/javascript" src="/js/chart.js"></script>
    </body>
</html>
{{ end }}
